@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    /* custom  */

    --navbar-height: 3rem;
    --main-bg: #292f4c;
    --main-fg: #1c1f3b;
    --main-delete: #dc5e5ef0;
    --border-light: #524f4f;
    --highlighter: #0073ea;
    --pulse-divider: #747171;
    --main-active: #0073ea;
    --main-active-dark: #133774;
    --main-light: #30324e;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
* {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: inherit; */
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
label,
input,
textarea {
  color: rgba(255, 255, 255, 0.865);
}
html {
  max-width: 100dvw;
  min-width: 100dvw;
  max-height: 100dvh;
  min-height: 100dvh;
}
body {
  max-width: 100dvw;
  min-width: 100dvw;
  max-height: 100dvh;
  min-height: 100dvh;
}

.pulse-container-right {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pulse-container-right::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

* {
  transition: grid-template-columns 500ms ease-in-out;
}

li.toast {
  flex-direction: row !important;
}

[data-radix-popper-content-wrapper] {
  background-color: transparent;
}

.swatches-picker {
  width: 100% !important;
}
.swatches-picker > div > div {
  /* border: 2px solid red;  */
  box-shadow: none !important;
  background: transparent !important;
}

.scrollbar-thin {
  scrollbar-width: thin; /* For WebKit browsers */
  scrollbar-width: 5px; /* Adjust as needed */
}
* {
  scrollbar-width: thin; /* For WebKit browsers */
  scrollbar-width: 5px; /* Adjust as needed */
}

.sprint-handlers {
  visibility: hidden;
}
.sprint-title:hover .sprint-handlers {
  visibility: visible !important;
}
.sprint-title-popover:hover .sprint-handlers {
  visibility: visible !important;
}
.noti-prefix {
  /* text-decoration: underline; */
  color: #59aaff;
  text-transform: capitalize;
}
