/* TextEditor.css */

/* Customize the wrapper */
.demo-wrapper {
  border: 1px solid #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

/* Customize the editor */
.demo-editor {
  min-height: 200px;
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  background-color: transparent;
}

/* Customize the toolbar */
.rdw-editor-toolbar {
  background-color: transparent !important;
  border: none;
  border-radius: 5px;
}

/* Customize toolbar buttons */
.rdw-option-wrapper {
  color: #fff;
  background-color: #444;
  border: none;
}

.rdw-option-wrapper:hover {
  background-color: #555;
}

.rdw-option-active {
  background-color: #666;
}

/* Customize other toolbar options if needed */
.rdw-dropdown-wrapper {
  background-color: #444;
  border: none;
}

.rdw-dropdown-active {
  background-color: #666;
}
