/* Customize the editor */
.demo-editor {
  min-height: 100px;
  padding:0px 10px;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  height: fit-content !important;
  background-color: transparent;
}

/* Customize the toolbar */
.rdw-editor-toolbar {
  background-color: transparent !important;
  border: none !important;
  border-radius: 5px;
  /* justify-content: center !important; */
  border-bottom: 1px solid var(--highlighter) !important;
}

/* Customize toolbar buttons */
.rdw-option-wrapper {
  color: #fff;
  background-color: #444;
  border: none;
}
.rdw-editor-wrapper {
  padding: 0 !important;
  border-radius: 5px !important;
  border: 1px solid var(--highlighter);
}

.rdw-option-active {
  background-color: #666;
}

.rdw-colorpicker-modal {
  background-color: var(--main-fg) !important;
  box-shadow: none !important;
  border: 1px solid grey !important;
  padding: 10px !important;
}
